*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:rgb(53, 53, 53);
     background: linear-gradient(
    45deg,
    #20471C 0%,
    #A5F990 50%,
    #20471C 100%
  );
  font-family: "Nunito", sans-serif;
}

/* Header - menu */

.menu{
    background-color: #20471C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px 24px 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.menu nav a{
    color: aliceblue;
    font-weight: 600;
    padding: 20px;
    text-decoration: none;
}


/* Configuracao da secao INICIO */

#inicio{
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 80px 80px 24px 80px;
    position: relative;
    margin-top: 50px;
}

.gatoDeFundo{
    position: relative;
    top: 19px;
}

.texto-inicio{
    color: aliceblue;
}

.texto-inicio h1{
    font-weight: 900;
    color: aliceblue;
}

h1,h2{
    font-size: 32px;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 30px;
}

.paragrafo{
    line-height: 150%;
    margin-bottom: 64px;
    text-align: justify;
}

.botao{
    background-color: #3C6934;
    border-radius: 8px;
    color: aliceblue;
    text-decoration: none;
    padding: 16px 32px;
}

.botao-transparente{
    background-color: transparent;
    color: #20471C;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolute{
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    z-index: -10;
    margin-bottom: 25px;
}


/* Clinica */

.container-clinica{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.texto-clinica{
    width: 50%;
}

.texto-clinica h1{
    margin-top: 25px;
    margin-bottom: 25px;
}

ul{
    margin-bottom: 64px;
    margin-left: 20px;
}

li{
    margin: 20px;
}

.paragrafo-clinica{
    line-height: 150%;
    margin-bottom: 30px;
    text-align: justify;
    padding-right: 45px;
}

/* Farmacia */

#farmacia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-farmacia{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.texto-farmacia{
    width: 60%;
    text-align: justify;
    margin-bottom: 50px;
}

/* Contato */

#contato{
width: 100%;
display: flex;
flex-direction: row;
padding: 50px;
justify-content: center;
align-items: center;
}

.container-contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 70px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input{
    margin: 10px;
    border-color: #20471C;
    border-style: solid;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
}

textarea{
    margin: 10px;
    border-color: #20471C;
    border-style: solid;
    padding: 10px;
    border-radius: 5px;
    border-width: 2px;
    width: 250px;
}

.botao-contato{
    width: 150px;
    background-color: #20471C;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.botao-contato:hover{
    background-color: aliceblue;
    color: #20471C;
    transition: 0.4s;
}

select{
    margin: 10px;
    border-color: #20471C;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    border-width: 2px;
    width: 250px;
}

/* Duvidas */

#duvidas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:64px;
    padding: 80px;
}

.duvida{
    position: relative;
}

.duvida h3{
    border: 2px solid #20471C;
    border-radius: 8px;
    padding: 24px;
}

.duvida img{
    position: absolute;
    top:32px;
    right: 24px;
}

.duvida .paragrafo{
    border-right: 1px solid #20471C;
    border-bottom: 1px solid #20471C;
    border-left: 1px solid #20471C; 
    border-radius: 0 0 8px 8px;
    margin-top: -8px;

    /* Eventos JS... */
    padding: 10px 24px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: .2s;
}

.duvida.ativa .paragrafo{
    opacity: 1;
    height: fit-content;
    overflow: 24px;
    padding: 60px 24px 10px 24px;
}

/* Footer */

footer{
    height: 400px;
    background-color: #B7DCB4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.allContainer{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    padding: 10px;
    padding-top: 100px;
}

.footerUm{
    display: flex;
    flex-direction: column;
}

.footerUm p{
    margin-top: 10px;
}

.footerDois{
    display: flex;
    flex-direction: column;
}

.footerDois a{
    color: #20471C;
    text-decoration: none;
    margin-top: 10px;
}

.footerTres div{
    margin-top:10px;
}

.footerTres a{
    color: #20471C;
    text-decoration: none;
    margin-top: 10px;
}

.creditos{
    background-color: rgb(49, 49, 49);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.creditos a{
    color: #20471C;
    text-decoration: none;
    margin-left: 9px;
}

#corLink{
    color: #A5F990;
}

