*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:rgb(53, 53, 53);
}

/* Header - menu */

.menu{
    background-color: #ff9a6c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px 24px 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.menu nav a{
    color: aliceblue;
    font-weight: 600;
    padding: 20px;
    text-decoration: none;
}


/* Configuracao da secao INICIO */

#inicio{
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 80px 80px 24px 80px;
    position: relative;
}

h1,h2{
    font-size: 32px;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 30px;
}

.paragrafo{
    line-height: 150%;
    margin-bottom: 64px;
    text-align: justify;
}

.botao{
    background-color: #ff9a6c;
    border-radius: 8px;
    color: aliceblue;
    text-decoration: none;
    padding: 16px 32px;
}

.botao-transparente{
    background-color: transparent;
    color: #FF7258;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolute{
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    z-index: -10;
    margin-bottom: 25px;
}


/* Clinica */

.container-clinica{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.texto-clinica{
    width: 50%;
}

.texto-clinica h1{
    margin-top: 25px;
    margin-bottom: 25px;
}

ul{
    margin-bottom: 64px;
    margin-left: 20px;
}

li{
    margin: 20px;
}

.paragrafo-clinica{
    line-height: 150%;
    margin-bottom: 30px;
    text-align: justify;
    padding-right: 45px;
}

/* Farmacia */

#farmacia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-farmacia{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.texto-farmacia{
    width: 60%;
    text-align: justify;
    margin-bottom: 50px;
}

/* Contato */

#contato{
width: 100%;
display: flex;
flex-direction: row;
padding: 50px;
justify-content: center;
align-items: center;
}

.container-contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 70px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input{
    margin: 10px;
    border-color: #FF7258;
    border-style: solid;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
}

textarea{
    margin: 10px;
    border-color: #FF7258;
    border-style: solid;
    padding: 10px;
    border-radius: 5px;
    border-width: 2px;
    width: 250px;
}

.botao-contato{
    width: 150px;
    background-color: #FF7258;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.botao-contato:hover{
    background-color: aliceblue;
    color: #FF7258;
    transition: 0.4s;
}

select{
    margin: 10px;
    border-color: #FF7258;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    border-width: 2px;
    width: 250px;
}